### This files configures the environment (including secrets!) for building images locally.
### Source this file before building.
### Rename it to "secrets.rc" (or similar) and **make sure** that the '.gitignore' and '.dockerignore' files 
### contain the 'secret*' exclusion pattern! You do not need this file on Docker Hub! There you have
### to configure only some of these environment variables (see the comments). 
### Example: source ./secrets.rc
### This file is also automatically sourced by the 'hooks/env.rc' script.

### recommended also on Docker Hub
export DOCKER_BUILDKIT=1
# export DOCKER_BUILDKIT=0
# export COMPOSE_DOCKER_CLI_BUILD=0

### optional on Docker Hub
# export VERSION_STICKER_PREFIX="LOCAL-BETA-"
# export VERSION_STICKER_SUFFIX="-BETA"

### optional on Docker Hub
### will force re-building regardless of verbose version sticker changes
# export FORCE_BUILDING=0

### optional on Docker Hub
### will prohibit re-building regardless of verbose version sticker changes
### useful for testing the autobuilding on Docker Hub before release
# export PROHIBIT_BUILDING=0

### optional on Docker Hub
### will force README re-publishing regardless of verbose version sticker changes
# export FORCE_README_PUBLISHING=0

### optional on Docker Hub
### will prohibit calling the post-push workflow and publishing the readme
### useful for testing on Docker Hub or by building from non-master branches
### ATTENTION: Docker Hub removed aut-building from free plans since 2021-07-26, so prohibit
### the post-push workflow execution and publish the readme using the provided utility
export PROHIBIT_README_PUBLISHING=1

### optional on Docker Hub
### GitHub repo and branch containing the post_push workflow to trigger
export POST_PUSH_WORKFLOW_REPO="ubuntu-vnc-xfce-g3"
export POST_PUSH_WORKFLOW_BRANCH="master"

### required on Docker Hub
### these are not real secrets because they are revealed in the badge links in readme files
### builder and deployment gists could be also identical
### builder gist (@@ubuntu-vnc-xfce-g3-builder)
export GIST_ID="xxxxxx"
### deployment gist (@@ubuntu-vnc-xfce-g3-deployment)
export DEPLOY_GIST_ID="xxxxxx"

### ------------
### REAL SECRETS
### ------------

### required on Docker Hub
### !!! REAL SECRET !!!
### GitHub: Settings/Developer settings/Personal access tokens
### PTA name: ubuntu-vnc-xfce-g3-gist
### this token must have scope 'gist'
### warning! gist token is valid for all gits of the same owner!
export GIST_TOKEN="xxxxxx"

### required on Docker Hub
### !!! REAL SECRET !!!
### GitHub: Settings/Developer settings/Personal access tokens
### PTA name: ubuntu-vnc-xfce-g3-actions
### this PAT must have scopes 'repo' and 'workflow'
export POST_PUSH_WORKFLOW_TOKEN="xxxxxx"

### required on GitHub as repo secrets, these exports are for local use only
### !!! REAL SECRETS !!!
### required for publishing readme files, because the Docker Hub API doesn't support PAT tokens
### warning! this credentials are valid for all Docker Hub repositories of the same owner!
export DOCKERHUB_USERNAME="xxxxxx"
export DOCKERHUB_PASSWORD="xxxxxx"

### -------------------------------------
### Secrets for 'dockerhub-autobuild.yml'
### -------------------------------------

### these secrets must be defined in the GitHub repository itself

### required on Dockerhub (as a webhook) and on GitHub (as a secret)
### Docker Hub's webhook URL for triggering the auto-builds
### ${{ secrets.DockerHubWebhookBuildRelease }} similar to 'https://hub.docker.com/api/build/v1/source/xxxx/trigger/xxxx/call/'

### required on GitHub (as repo secrets)
### credentials needed for publishing the readme files (API does not accept PTA)
### ${{ secrets.DOCKERHUB_USERNAME }} real Docker Hub account name
### ${{ secrets.DOCKERHUB_PASSWORD }} real Docker Hub account password
