generate_container_user() {
    ### Override user ID lookup to cope with being randomly assigned IDs using 'docker run --user x:y'.
    ### It is assumed, that there is no user or group named 'headless' yet.

    local user_id=$(id -u)
    local group_id=$(id -g)

    ### only in debug mode
    if [ ${DEBUG} ] ; then
        id
        echo "ls -la /etc/passwd" ; ls -la /etc/passwd
        echo "ls -la /etc/group" ; ls -la /etc/group
    fi

    ### user 'root (0)' is created by default and 'headless (1001)' by Dockerfile
    if [ "${user_id}" != "0" ] && [ "${user_id}" != "1001" ] ; then

        ### this test fails if the current user misses permissions
        touch /etc/passwd
        if [ "$?" != "0" ] ; then return 1 ; fi

        ### rename an existing default application user 'headless (1001)' to 'builder (1001)'
        if [ $( grep -c 'headless:x:1001:' /etc/passwd ) -ne 0 ] ; then
            cat /etc/passwd | sed -e "s/^headless:x:1001:0:Default:/builder:x:1001:0:Builder:/" > /tmp/passwd
            cp /tmp/passwd /etc/
            rm /tmp/passwd
            if [ -n "${_verbose}" ] ; then echo "User 'headless (1001:0)' renamed to 'builder (1001:0)' in '/etc/passwd'" ; fi
        fi

        ### add the current user ID as a new default application user 'headless', but only once
        if [ $( grep -c "headless:x:${user_id}:" /etc/passwd ) -eq 0 ] ; then
            cat /etc/passwd > /tmp/passwd
            echo "headless:x:${user_id}:${group_id}:Default:${HOME}:/bin/bash" >> /tmp/passwd
            cp /tmp/passwd /etc/
            rm /tmp/passwd
            if [ -n "${_verbose}" ] ; then echo "User 'headless (${user_id}:${group_id})' added into '/etc/passwd'" ; fi
        fi

        if [ "${group_id}" != "0" ] ; then
            ### add the new group if the same GID does not exist yet
            if [ $( grep -c -E ":x:${group_id}:$" /etc/group ) -eq 0 ] ; then
                cat /etc/group > /tmp/group
                echo "headless:x:${group_id}:" >> /tmp/group
                cp /tmp/group /etc/
                rm /tmp/group
                if [ -n "${_verbose}" ] ; then echo "Group 'headless (${group_id})' added into '/etc/group'" ; fi
            fi
        fi
    fi
}
