generate_container_user() {

    ### Adjusts the '/etc/passwd' and '/etc/group' files to cope with the randomly assigned IDs using 'docker run --user x:y'.
    ### Note that this code will be executed only once by the first start-up (see the if-condition and the end of the outer if-block).

    local user_id
    local group_id
    local application_user_name
    local group_name

    ### note that this block will be exuceted only once (see the end of the if-block)
    if [[ -w /etc/passwd ]] ; then

        user_id="$(id -u)"
        group_id="$(id -g)"
        application_user_name="${HEADLESS_USER_NAME}"
        group_name="${HEADLESS_USER_GROUP_NAME}"

        ### user 'root (0)' is always created by default
        ### user 'application_user_name' is created by Dockerfile
        if [[ "${user_id}" != "0" && "${user_id}" != "${HEADLESS_USER_ID}" ]] ; then

            ### rename the existing 'application_user_name' to 'builder'
            if [[ $( grep -c "${application_user_name}:x:${HEADLESS_USER_ID}:" /etc/passwd ) -ne 0 ]]; then

                cat /etc/passwd | sed -e "s/^${application_user_name}:x:${HEADLESS_USER_ID}:${HEADLESS_USER_GROUP_ID}:Default:/builder:x:${HEADLESS_USER_ID}:${HEADLESS_USER_GROUP_ID}:Builder:/" > /tmp/passwd

                cp /tmp/passwd /etc/
                rm /tmp/passwd

                if [[ -n "${_verbose}" ]] ; then
                    echo "User '${application_user_name} (${HEADLESS_USER_ID}:${HEADLESS_USER_GROUP_ID})' renamed to 'builder (${HEADLESS_USER_ID}:${HEADLESS_USER_GROUP_ID})' in '/etc/passwd'"
                fi
            fi

            ### add the current application user ID as a new 'application_user_name' if it does not exist yet
            if [[ $( grep -c "${application_user_name}:x:${user_id}:" /etc/passwd ) -eq 0 ]] ; then

                cat /etc/passwd > /tmp/passwd
                echo "${application_user_name}:x:${user_id}:${group_id}:Default:${HOME}:/bin/bash" >> /tmp/passwd

                cp /tmp/passwd /etc/
                rm /tmp/passwd

                if [[ -n "${_verbose}" ]] ; then
                    echo "User '${application_user_name} (${user_id}:${group_id})' added into '/etc/passwd'"
                fi

                ### update the environment variables
                export HEADLESS_USER_ID=${user_id}
                export HEADLESS_USER_GROUP_ID=${group_id}
            fi
        fi

        ### add the new group if the same GID does not exist yet
        if [[ "${group_id}" != "0" ]] ; then

            if [[ $( grep -c -E ":x:${group_id}:$" /etc/group ) -eq 0 ]] ; then

                cat /etc/group > /tmp/group
                echo "${group_name}:x:${group_id}:" >> /tmp/group

                cp /tmp/group /etc/
                rm /tmp/group

                if [[ -n "${_verbose}" ]] ; then
                    echo "Group '${group_name} (${group_id})' added into '/etc/group'"
                fi
            fi
        fi

        ### make the newly created user the owner of the following folders including their content
        cat "${HOME}"/.initial_sudo_password | sudo -S chown -R "${user_id}:${group_id}" "${STARTUPDIR}" "${HOME}" 2>/dev/null

        ### set the file permissions of the following  to the system default and 
        ### note that this will also disable this user generator for the future runs (see the outer if-condition above)
        cat "${HOME}"/.initial_sudo_password | sudo -S chmod 644 /etc/passwd /etc/group 2>/dev/null

        ### remove the file containing the initial sudo password
        ### be aware that the initial sudo password is still part of the Docker image (see the image history and ARG_SUDO_PW)
        ### however, you can change it afterwards inside the container
        cat "${HOME}"/.initial_sudo_password | sudo -S rm -f "${HOME}"/.initial_sudo_password 2>/dev/null
    fi
}
