<!-- This is the template of the file to append to the main part of README file for Docker Hub. -->
<!-- The following variables will be replaced (related to the deployment repository): OWNER, GIST, REPO -->

<!-- latest -->

[badge_latest_created]: https://badgen.net/https/gist.githubusercontent.com/${OWNER}/${GIST}/raw/${REPO}@latest@created.json

[badge_latest_version-sticker]: https://badgen.net/https/gist.githubusercontent.com/${OWNER}/${GIST}/raw/${REPO}@latest@version-sticker.json

[link_latest_version-sticker-verbose]: https://gist.githubusercontent.com/${OWNER}/${GIST}/raw/${REPO}@latest@version-sticker-verbose.txt

<!-- latest-fugo -->

[badge_latest-fugo_created]: https://badgen.net/https/gist.githubusercontent.com/${OWNER}/${GIST}/raw/${REPO}@latest-fugo@created.json

[badge_latest-fugo_version-sticker]: https://badgen.net/https/gist.githubusercontent.com/${OWNER}/${GIST}/raw/${REPO}@latest-fugo@version-sticker.json

[link_latest-fugo_version-sticker-verbose]: https://gist.githubusercontent.com/${OWNER}/${GIST}/raw/${REPO}@latest-fugo@version-sticker-verbose.txt
