### This files configures the environment (including secrets!) for utilities used locally.
### The utility scripts will source this file themselves. You do not need this file on Docker Hub.
### Rename the file to "secrets-utils.rc" (or similar) and **make sure** that the '.gitignore' and '.dockerignore' files 
### contain the 'secret*' exclusion pattern!

### Required only for updating templated README files, if they use any data from the gist (e.g. badge endpoints).
### This value can be also provided or overriden through the utility input argument.
### This is not a real secret because it is revealed in the badge links in readme files.
### The value is usually the ID of the gist belonging to the deployment repositories.
### deployment gist (@@ubuntu-vnc-xfce-g3-deployment)
export DEPLOY_GIST_ID="xxxxxx"

### ------------
### REAL SECRETS
### ------------

### Required only for publishing README on Docker Hub.
### These values can be also provided or overriden through the utility input arguments.
### !!! REAL SECRETS !!!
### required for publishing readme files, because the Docker Hub API doesn't support PAT tokens
### warning! this credentials are valid for all Docker Hub repositories of the same owner!
export DOCKERHUB_USERNAME="xxxxxx"
export DOCKERHUB_PASSWORD="xxxxxx"
